<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 1</title>

    <!-- Styles -->
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
</head>
<body>
<h1>Our model features included the below, along with sample values</h1>

<table style="width:100%">
    {% for f in features %}
  <tr>
    <th>{{f}}</th>
  </tr>
    {% endfor %}

    {% for s in feature_subs %}
  <tr>
    <td>{{s}}</td>
  </tr>
    {% endfor %}
</table>

<h1>Our simple regression model has predicted a home value of {{ regr_pred }}!</h1>
</body>
</html>